// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form div.field_with_errors {
  display: inline;
  border: 1px, solid;
  border-color: red;
  padding: 4px;
}